
    <br>
    <br>
    <br>
    <div id="name"> <p>Designed and developed by Chelsea Chen Chen 2018</p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/chelsea.js"></script>
    </body>

    
</html>