<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      
      <title>Chelsea</title> 
      
    <div id="background-image"></div>

    
    <div class="collapse  pt-md-4 pb-md-1" id="contactInfo">
     <div class="container my-md-2">
        <h4>Contact me!</h4>
        <p>Email:Chelseachenchen@gmail.com</p>
        <p>Phone:+1 646 478 6408</p>
     </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a id="homelink" class="navbar-brand" href="/">Chelsea</a>
      <button id='menubutton' class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#moreInfo" aria-controls="moreInfo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="moreInfo" >  
        <ul class="navbar-nav ml-auto">
          <li  class="nav-item">
            <a id="aboutlink" class="nav-link" href="#">About</a>
          </li>
          <li  class="nav-item">
            <a id="aboutlink" class="nav-link" href="#">Resume</a>
          </li>
          <li   class="nav-item">
            <a id="contactlink" class="nav-link" data-toggle="collapse" href="#contactInfo" aria-expanded="false" aria-controls="contactInfo" data-text-swap="CLOSE" data-text-original="Contact" >Contact
            </a>   
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  </head>
  <body>
       