<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/panicpusher.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>Panic Pusher</h1>Collaborative work with <b>Yanlin Ma.</b></div>
        		<br>
        		<br>
                <hr />
        	
        		<br>
        		<br>
        		<br>
        		<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oN-cnmXiM48?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        		<br>
        		<br>

        		<p>An installation that visualizes my email stress which is getting more and more intense as emails come in.
        		</p>
        		<br>
        	

        		<p>The concept comes from Tim Urban’s theory: there is an Instant Gratification Monkey exists in procrastinator’s brains. Every time when you are trying to do your work, the monkey suddenly shows up, stops you and drags you into a place called the Dark Playground. However, the fun you have in the Dark Playground isn’t actually fun because it’s completely unearned and the within there is filled with guilt, anxiety, self-hatred, and dread. The only thing that can scare the Monkey away is called the Panic Monster, he will be woken up when the deadline is close.
        		</p>
        		<br>
        	

        		<p>However, not everything has a deadline, no deadline no Panic Monster, no Panic Monster, no impetus to take an action… In the end, we never could take the action…..“The frustration is not that they couldn’t achieve their dreams; it’s that they weren’t even able to start chasing them.”
        		</p>
        		<br>
        	
        		<p>As a lifelong time procrastinator, I totally agree with this theory, I don’t believe that there was/is/will be a healthy relationship between me, works and the deadline, the only cure is taking advantage of the negative emotions. That is why I wanted to create a ‘Panic Monster’ in real life.
        		</p>
        		<br>
       

        		<p>We use Gmail API to control steppers, so every time you received an email and you ignored it, the stepper will push an arm one step closer to the other end of the table. As a punishment, catastrophic consequences will be triggered. Only by reading or replying them can you stop the disasters.
        		</p>
        		<br>
  

        		<h3><p>So, read your email,</p> 
        			<p>otherwise,</p> 
        		    <p>it’ll destroy the world.</p> </h3>
        			<hr />
        		<br>
        		<br>
        		<img class="contents" src="/img/schmatics.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/gmailTest.gif">
        		<br>
        		<br>
        		<img class="contents" src="/img/process.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/move.gif">
        		<br>
        		<br>
        		<img class="contents" src="/img/front.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/top.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/ballon.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/side.jpg">
        		<br>
        		<br>

        		<p></p>		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>