<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/cv.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>CoastalVision UI/UX Design</h1></div>
        		<br>
        		<br>
                <hr />
        	
        		<br>
        		<br>
        		<br>
        		

        		<p>As a UI designer in this project, I drove the project of CoastalVision from conception to design.</p>

                 <p>This project is about how we optimized our previous website. In collaboration with our IT department and product operation team, my role was to upgrade and ensure the website embraces the marketing needs of an online shop while cooperating with offline activities. I contributed to the development of the online strategy and was responsible for creating initial sketches, wireframes, and designs from start to completion.</p>

                 <p>Traditionally, the main purpose of a good user interface is to introduce its brand culture and sprite. And guild its users to achieve what they want on this website. But a good user interface of an e-commerce website should also focus on stimulating viewers to buy and generating click-through rates and conversion rates.
        		</p>
        		<br>
                <img class="contents" src="/img/cvc/2.jpg">


                <h3>BRAND RESEARCH</h3>
                <h4>What is Coastal Vision?</h4>

                <img class="contents" src="/img/cvc/3.jpg">
                <img class="contents" src="/img/cvc/4.jpg">
        	

        		<p>Coastal Vision is an eyewear online store sells over 20 brands as well as our own range optical glasses and sunglasses.</p>
        		<br>
                <img class="contents" src="/img/cvc/5.jpg">
                <img class="contents" src="/img/cvc/6.jpg">
                <img class="contents" src="/img/cvc/7.jpg">

                <h3>DATA ANALYSIS</h3>

                <p>There is a previous version of Coastal Vision PC website. Before we begin to optimize it, we ran some test of eye movement about the old one.</p>
                <img class="contents" src="/img/cvc/8.jpg">
                <p>The test is to figure out some confusions we had, such as which content is the most popular one, how long would people spend on looking at the promotion banner and how we present the products draws the most attention to achieve the best results.</p>

                <p>From the statistic, we found:</p>
                <p style="padding-left: 30px;">1, people spent less time on focusing on the product image than viewing a picture of a model wearing product.</p>
                <p style="padding-left: 30px;">2, Images with large size may draw more attention, but how to lease blank for the page is also an important issue.</p>
                <p style="padding-left: 30px;">3, people barely read the text.</p>

                <img class="contents" src="/img/cvc/9.jpg">

                <p>The pervious version of  Coastal Vision PC website just wanted to satisfy all the possible user requirements, so it built too many modules and in a very basic and ordinary way. Users were easy to get bored and quite the website, because they couldn’t find anything innovative to arouse an emotional attachment during browsing the page. We can get the fourth conclusion:</p>
                <p style="padding-left: 30px;">4, Make it interesting by adding creative and proper interactions maybe.</p>
                <img class="contents" src="/img/cvc/10.jpg">

                <p>According to a official research given by Taobao.com which is the biggest online shopping platform in China, 85% of orders are purchased from smartphone through the Taobao App and only 15% orders are from it’s PC website. And for most of Taobao users, the PC website of a brand plays a role more likely a show space to tell customers it’s brand sprit and strength.</p>

                <p>For optimize our 2.0 version user interface, we investigated recognition of 100 users towards categorization of glasses and their shopping demands, so as to integrate the information to a satisfactory menu which complies with customers’ demands.</p>

                <p>The result verified the survey of Taobao user research.  <b>In short, PC website gives designers more space and more freedom to build a brand images. App, on the other hand, is more like a motivate consuming tool.</b></p>

                <h3>Logo Design</h3>
                
                <p>What kind new logo do we need:</p>

                    <p>1, elevate brand image,</p>
                    <p>2, relate to other group brands and emphasize brand identity,</p>
                    <p>3, show our characters: international, professional and youthful.</p>
                    <p>4, use simple shape, simple color and make it unforgettable.</p>
                    <img class="contents" src="/img/cvc/13.jpg">

                <h3>Inspiration</h3>
                <p>This chart is called The Landolt C, used in visual acuity measurement in optical clinic. The task required here is to detect the location of the gap.</p>
                <!-- <img class="contents" src="/img/cvc/14.jpg"> -->
                <p>Our new Logo is inspired by the Landolt C, using the simple but unique layout, people can easily remember our logo. Plus the similar shape of our logo and Landolt C may give a professional impression.</p>
                <img class="contents" src="/img/cvc/15.jpg">
                <img class="contents" src="/img/cvc/16.jpg">
                <h3>Prototype</h3>
                <p>Prototyping is iterating ideas to make the best experience for users. In this step,  a journey map is help to build the comprehensive journey that can enhance value of its features and giving the thoughtful experience to people who are viewing CoastalVision websites or our Tmall shop.</p>
                <img class="contents" src="/img/cvc/17.jpg">
                <img class="contents" src="/img/cvc/18.jpg">
                <h3>PC HOME PAGE</h3>
                <img class="contents" src="/img/cvc/19.jpg">
                <img class="contents" src="/img/cvc/20.jpg">
  
        		<p>We decided to use the front main area of homepage to display 4 frames high-resolution pictures. Instead of showing some details of a product, each of those pictures shows the youthful and vivid brand spirit.</p>

    
        		<p>We put a top menu bar on the upper right space of the screen and there are six buttons can be clicked: Brand, Shape of Frame, Collections, Search, Log-in and cart. Those 6 buttons are the six most useful functions people need on PC website. When mouse pointing the button triggers the colour turn to black movement.</p>

        		<br>
        	
        		<p>We decided  to use home page -the most valuable and limit space- to show users the most important things we want to let them know, which are five sections: key visuals of the brand, the latest products, bestsellers,  promoting products and information area. Pictures of wearing effects and 3D views of glasses are well-spaced in terms of arrangement. This could strengthen attractiveness of browsing the homepage.
        		</p>
        		<br>
                <h3>PC PRODUCT PAGE</h3>
                <img class="contents" src="/img/cvc/21.jpg">
                <p>In order to attract customers’ attentions and give them a good impression about the brand and product, we used at least 5 high-resolution pictures and very few texts in the product page.</p>
                <img class="contents" src="/img/cvc/22.jpg">
     		    <p>The big and high-resolution pictures are white background and display products in a clear and simple way. Three product pictures taken from different angles to show every detail, and two more model-wearing pictures gives a reference how it looks on real people. The text part is showed extremely brief, because we treat the web page as a showroom. Based on the research we made about the habit of user, we believe too many text will make users get bored easily. We put a small picture of the alternative color on the left corner. While users click it, a new page about that color will opened.</p>
        		<br>

                <h3>APP HOME PAGE</h3>
                <p>Our website for mobile and tablet is built on the biggest e-commerce platform App in China –Taobao. Because of the huge number of users, we are willing to optimize our webpage to fit the frame template of Taobao App. Based on the customer behavior research we mentioned before, the conclusion we can draw is App is more like a motivate consuming tool.  So, the UI of our e-shop is designed for purchasing on propose.</p>
                <img class="contents" src="/img/cvc/23.jpg">
                <img class="contents" src="/img/cvc/24.jpg">
                <img class="contents" src="/img/cvc/25.jpg">
                <img class="contents" src="/img/cvc/26.jpg">
                <img class="contents" src="/img/cvc/27.jpg">
                <img class="contents" src="/img/cvc/28.jpg">
  

        	

        		<p></p>		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>