<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/hk.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>Hello Kitty</h1></div>
        		<br>
        		<br>
                <hr />
        	
        		<br>
        		<br>
        		<br>
        	
        		<br>
        		<br>
              
                <img class="contents" src="/img/hellokitty/2.jpg">
                <img class="contents" src="/img/hellokitty/3.jpg">
                <img class="contents" src="/img/hellokitty/4.jpg">
                <img class="contents" src="/img/hellokitty/5.jpg">
                <img class="contents" src="/img/hellokitty/6.jpg">
                <img class="contents" src="/img/hellokitty/7.jpg">
                <img class="contents" src="/img/hellokitty/8.jpg">
                <img class="contents" src="/img/hellokitty/9.jpg">
                <img class="contents" src="/img/hellokitty/10.jpg">
                <img class="contents" src="/img/hellokitty/11.jpg">
                <img class="contents" src="/img/hellokitty/12.jpg">
                <img class="contents" src="/img/hellokitty/13.jpg">
                <img class="contents" src="/img/hellokitty/14.jpg">
                <img class="contents" src="/img/hellokitty/15.jpg">
                <img class="contents" src="/img/hellokitty/16.jpg">
                <img class="contents" src="/img/hellokitty/17.jpg">
                <img class="contents" src="/img/hellokitty/18.jpg">
                <img class="contents" src="/img/hellokitty/19.jpg">
                <img class="contents" src="/img/hellokitty/20.jpg">
                <img class="contents" src="/img/hellokitty/21.jpg">
                <img class="contents" src="/img/hellokitty/22.jpg">


        		
        		
        		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>