<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/luopan.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>Digital Luopan</h1>Collaborative work with <b>Shawn Ma.</b></div>
        		<br>
        		<br>
                <hr/>
        	
        		<br>
        		<br>
        		<br>
        		<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/4TVCjKf7w_M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        		<br>
        		<br>

        		<p>An physical computing prject. Using digital technology to recreate Luopan -- a Chinese magnetic compass, also known as a FengShui compass.
        		</p>
        		<br>
        	

        		<img class="contents" src="/img/luopan/1.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/luopan/2.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/luopan/4.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/luopan/3.jpg">
        		<br>
        		<br>
        	
        		<br>
        		<br>

        		<p></p>		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>