<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        <div id="side" class=" pt-1 pt-md-3 pr-md-1  mr-md-1">
           project2
        </div>
        <div id="main" class=" pt-md-3 ml-md-1">
    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>