<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/shiffman.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>ShiffmanPiano</h1></div>
        		<br>
        		<br>
                <hr />
        	
        		<br>
        		<br>
        		<br>
        		<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/lFQZsDLZQsE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <br>

                <iframe class="video" src="http://alpha.editor.p5js.org/embed/Hk1G9rS0Z"></iframe>



        		<br>
        		<br>
                <a href="http://alpha.editor.p5js.org/Chelsea-chenchen/sketches/Hk1G9rS0Z">Code</a>


        		

        		<p></p>		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>