<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class="pt-md-3 ml-md-1">
        	<img class="contents" src="/img/bookmark.jpg">
        	<div "">
        		<div class="bookmark"><h1>Smart Book</h1></div>
        		<br>
                <strong>Product/User experience design</strong>
                <strong>My Role:</strong> User research, data analysis, wireframe design, product design, UX/UI design and user test.
                <strong>Individual work</strong>
        		

        		<h3>PROJECT DESCRIPTION</h3>
        		<br>
        	

        		<p>I love to read, because reading deepens the abyss of my imagination, teleports me to alternate dimensions, and ignites my ambition. I love to read traditional paper books, I believe the smell, feeling, and authenticity of real books is something that will never be obsolete.</p>

                <p>Sadly, traditional books are not as popular as before, most people these days prefer to text their friends, tweeting, updating their status on Facebook than reading.</p>

                <p>The main CONCEPT of this project is to help people read tradition books more consistently and frequently. It encourages people to seize the fragmented time and stop wasting time on staring at smartphones.</p>

                <p>Every step in this design project was finished by myself, including the user research, data analysis, wireframe design, UX/UI design and user test.</p>
        		<br>

                <h3>INSPIRATION</h3> 
                <img class="contents" src="/img/bookmark/rayban.jpg">

        		<p>As an eyewear designer, I have this habit to browse and study other eyewear brands time by time. I check their new products, new campaigns, and new advertisements.
        		</p>
                <p>This year, a poster of Ray-ban got my attention: it is about a couple having a meaningful moment on the subway, surrounded by a sea of people with smartphones covering their faces.</p>

        		<br>
        	
        		<p>The reason why I love this poster is I think it is so real, this image is what exactly happened on my everyday commute in Shanghai. People are so addicted to their smartphone and wasting time on meaningless tapping and swiping.
        		</p>
        		<br>

                <img class="contents" src="/img/bookmark/subway.jpg">
        		<p>All these photos are taken by me on my everyday commute. It seems all young people are holding a smartphone or tablet. If you look these FOBOs (Fear of Being Offline) closer, you might find most of them were playing games, watching Korean dramas or refreshing SNS.</p>

                <p>Since the concept of “network society” was proposed by Manuel Castells in 1996, new media and network communication have become important research issues in the field of communication and media study. The Internet and digital technology have changed the broadcasting model of Stuart’s “Encoding/Decoding”.</p>

                <p>Sadly, most young people don’t read books anymore, the internet, messaging apps, social networks keep distracting them.
        		</p>
        		<br>


                <h3>INTERVIEW</h3>
                <img class="contents" src="/img/bookmark/interview.jpg">
                <p>Since the concept of “network society” was proposed by Manuel Castells in 1996, new media and network communication have become important research issues in the field of communication and media study. The Internet and digital technology have changed the broadcasting model of Stuart’s “Encoding/Decoding”.</p>

                <p>Insights I learned:</p>

                <p>Reading requires time:</p>
                <p>It is so much easier to watch a 2-hour-movie and get the same essence of the story than to read an entire book, which can take days.</p>

                <p>Reading requires brains:</p>
                <p>It is far less intellectually challenging to see something in a movie than to understand and imagine what the author meant through words.</p>

                <p>Reading requires good habit:</p>
                <p>It is very easy to be distracted by something else. You may more want to sleep than read after a fatigue day, or more into a new video game than reading a book, or just forget to bring the book every morning.</p>

                <p>Find a good book:</p>
                <p>It can be hard to find a book really grabs me. I hate to be a quitter, but sometimes I seriously can not finish a book I hate. Some of them even are very famous or top selling books.</p>

                <p>The social aspect:</p>
                <p>Book reading is essentially solitary. Going to movies, watching a TV show with your family are social.
                </p>

                <p>Sadly, most young people don’t read books anymore, the internet, messaging apps, social networks keep distracting them.
                </p>

                <p>Sadly, most young people don’t read books anymore, the internet, messaging apps, social networks keep distracting them.
                </p>

                <p>Sadly, most young people don’t read books anymore, the internet, messaging apps, social networks keep distracting them.
                </p>

                <p>Sadly, most young people don’t read books anymore, the internet, messaging apps, social networks keep distracting them.
                </p>
                <br>
  

        		<br>
        		<br>
        		<img class="contents" src="/img/schmatics.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/gmailTest.gif">
        		<br>
        		<br>
        		<img class="contents" src="/img/process.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/move.gif">
        		<br>
        		<br>
        		<img class="contents" src="/img/front.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/top.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/ballon.jpg">
        		<br>
        		<br>
        		<img class="contents" src="/img/side.jpg">
        		<br>
        		<br>

        		<p></p>		


        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>