<% include ../partials/header %>
<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        
        <div id="main" class=" pt-md-3 px-md-5">
        	<img class="contents" src="/img/shallPass.jpg">
        	<div>
                <br>
        		<div class="panic"><h1>This, Too, Shall Pass</h1>
                    <p><strong>Experimental media project</strong></p>
                </div>
                <br>
                <br>
                <hr />
        		<br>
                <br>

            
                <p>This is a college project I made when I was earning my first Master's Degree course in Creative Media. I individual developed based on a group sound project I made with my groupmates on a module called Expanded Media.</p>
                <br>
                <br>
                <p>I made this project to reflect and discuss how bad childhood experience can negatively affect adult life and how do they feel about those bad memories. This idea came from the real experience of my dearest friend L, who suffers from depression for years since he witnessed his mum attempted suicide several times and finally committed it when he was 14-year-old.</p>
                <br>
                <br>

                <p>I created a space allow people to experience the actual feelings of the depressed patients in an immersive and sensual way, through hybrid media forms such as sound, images, space, and light.</p>
                <br>
                <br>

                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/w4Sm1L3QDYU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <br>
                <br>
                

                <p>I wanted to present a complete bad dream to the viewers. The initial idea was inspired by the trailer for a film named ‘Double Exposure’ (Dir. Li Yu, 2012). This film released two different visions of the trailer, the first is ‘sound only’ and the second is ‘image only’.</p>
                <br>
                <br>

                <p>In first one-minute ‘sound only’ trailer, fierce argument and dialogue between characters could be heard clearly. And the frame only shows obscure images without telling any information about the film. Another one-minute ‘image only’ trailer contains vivid frames of the scenes from the film, but silence. I thought this is a creative approach to present a film’s trailer, each trailer is connected to another but audiences could not get complete information from an individual one. They could reveal the content of the film only if they both were watched. Therefore, I wanted to use the similar approach to divide my project into two parts: ‘sound only’ and ‘image only’.</p>
                <br>
                <br>

                <p>For the sound part, different with the original soundscape ‘nightmare’, I made a slight change in the narrative structure. The new sound narrative is following the formation of equilibrium (snoring, sound of sea, wave and seagulls), disequilibrium (gradually entering the nightmare, sound of drowning, struggling under the water) and resolve with a new equilibrium (crawling towards the shore, sound of alarm clock and back to the real world). The reason for made this change is this part needed to be connected to another part of the image, which would form a complete narration of dream.</p>
                <br>
                <br>
                
                <h2 style="text-align: center;"><b>Inspirations</b></h2>
                <br>
                <br>
                <img class="contents"  id ="small" src="/img/shallPass/1.jpg">
                <br>
                <br>


                <p><em>René François Ghislain Magritte (21 November 1898 – 15 August 1967) was a Belgian surrealist artist. He became well known for a number of witty and thought-provoking images that fell under the umbrella of surrealism. His work challenges observers' preconditioned perceptions of reality. On 12 March 1912, his mother committed suicide by drowning herself in the River Sambre. This was not her first attempt at taking her own life; she had made many over a number of years, driving her husband Léopold to lock her in her bedroom. One day she escaped and was missing for days. She was later discovered a mile or so down the nearby river, dead. According to a legend, 14-year-old Magritte was present when her body was retrieved from the water, but recent research has discredited this story, which may have originated with the family nurse. Supposedly, when his mother was found, her dress was covering her face, an image that has been suggested as the source of several of Magritte's paintings in 1927–1928 of people with cloth obscuring their faces, including Les Amants (The Lovers).</em></p>
                <br>
                <br>

                <img class="contents" src="/img/shallPass/2.jpg">
                <br>
                <br>

                <p><i>It is a union that suggests the essential mystery of the world. Art for me is not an end in itself, but a means of evoking that mystery.” </i></p>
                    <p>— RenŽ Magritte on putting seemingly unrelated objects together in juxtaposition</p>
                <br>
              

                <p>René François Ghislain Magritte became well known for a number of witty and thought-provoking images that fell under the umbrella of surrealism. His work challenges observers' preconditioned perceptions of reality.</p>
                <br>
                <br>


                <img class="contents" src="/img/shallPass/3.jpg">
                <br>
                <br>

                <p>Thus, we also took some pictures like:</p>
               
                <ul>
                    <li>A face under white sheets. The idea is that this face has to scream, or struggle under the sheets, to give the impression of pressure or a claustrophobic dream.</li>
                    <li>Hands under white sheets, trying to escape as well.</li>
                    <li>Pictures of the seashore, or the sea.</li>
                </ul>
                <br>
                <br>

                <h2 style="text-align: center;"><b>Images</b></h2>
               
                <br>
                <p>I looked some fine art photographers’ works, there were two photographers whose works have crucial influences on my work. They are Robert ParkeHarrison and Chi Peng.</p>
                <br>
                
               
                    <li><b>Robert </b><b>ParkeHarrison</b> is a photographer, best known for his work (with wife Shana ParkeHarrison) in the area of fine art photography. Robert: “We create works in response to the ever-bleakening relationship linking humans, technology, and nature.</li>
                    <br>
                <br>
                 
                <img class="contents" src="/img/shallPass/8.jpg">
                <br>
                

                <p>These works feature an ambiguous narrative that offers insight into the dilemma posed by science and technology's failed promise to fix our problems, provide explanations, and furnish certainty pertaining to the human condition. Strange scenes of hybridizing forces, swarming elements, and bleeding overabundance portray Nature unleashed by technology and the human hand.”(Resource from <u><a href="http://www.parkeharrison.com/statement)">http://www.parkeharrison.com/statement</a></u><u><a href="http://www.parkeharrison.com/statement)">)</a></u></p>
                <br>
                

               <p> Rich colors and surrealistic imagery merge to reveal the poetic roots of the works on display. The use of color is intentional but abstract; proportion and space are compositional rather than natural; movement is blurred; objects and people juxtaposed as if by chance in a visual improvisation that unfolds choreographically. At once formally arresting and immeasurably loaded with sensations—this work attempts to provide powerful impact both visually and viscerally.</p>
               <br>
               
              
                    <li><b>Chi Peng </b>is a photo artist who seems to channel an enormous cultural shift in his native China. As a very young artist, he was the focus of much attention within art circles – especially his works such as Sprinting Forward, Catching, Perception, Apollo in Transit, and Mirage. According to Chi Peng, “These works have a heavy tone of escapism.”</li>

                    <br>
                <br>
               
                <img class="contents" src="/img/shallPass/9.jpg">
                <br>
                <br>
                

                <p>His works express a youthful mind and a symbolic elusiveness. Elements present in almost every work are playfully derailed from reality, floating and independent.</p>
                <br>
                

                <p>With the techniques I learned from the works above, I took a group of the picture for my expanded project – image part.</p>
                <img class="contents" src="/img/shallPass/10.jpg">
                <br>
                <br>
                
                <p>This group of images is presenting the insides of the dream world, weird affair, phantom, and dim scenery. They were arranged in the chronological order, from entering the dream, losing in the forest, rushing on the hill. And the last picture is about struggling with the sea wave, which is connected with the following nightmare of drowning.</p>
                <br>
                <br>
                <img class="contents" src="/img/shallPass/11.jpg">
                <br>
                <br>
                <br>
                <br>
                
                
                
                
                <h2 style="text-align: center;"><b>Presentation</b></h2>
                <br>
                
                <p>I visited an exhibition in Tate Modern: A Bigger Splash, Painting after Performance. Some interesting artworks I thought they might be useful for the further project. I got an idea from this exhibition space that, if I can play the soundscape in thus a dark, closed space, and project the images on the wall. That would be good.</p>
                <br>
               
                <img class="contents" src="/img/shallPass/12.jpg">
                <br>
                <br>
                <br>
              

                <p>My another inspiration is a project called My Bed which is a work made by the British artist Tracey Emin created in 1998. It consisted of her bed with bedroom objects in an abject state and gained much media attention. The idea for My Bed was inspired by a depressive phase in the artist's life when she had remained in bed for several days without eating or drinking anything but alcohol.</p>
                <br>
              

                <p>She described all those chaos is a snapshot of her life after a traumatic relationship breakdown. It shows the real herself at a very depressed time: “I think now people see the bed as a very different thing. With history and time, the bed now looks incredibly sweet and there’s this enchantment to it. I think people will see it differently as they see me differently. And there are things on that bed that now have a place in history.”</p>
                <br>
                

                <p>For the project presentation, I planned to use two connected rooms to present this project, which the first room is set up for a dream world. It is quiet only with the sound of snoring, a bed also was installed for making audiences realize they entered someone’s dream.</p>
                <br>
                

                <p>The second room is the major space that plays the soundtrack, and it was split up by visible ropes which help to create an atmosphere of trapping in a nightmare.</p>
                <br>
                
                <img class="contents" src="/img/shallPass/13.jpg">
                <br>
                <br>
                <br>
               

                <p>The left layout is the ideal space for the presentation that has a bright space to display the images, then a small dark room to play the soundscape. But I couldn’t find such a space for free. So if I display the project in creativity zone, I have to use the entrance space to show the images by plasma screens. And major space presentation would very similar to the previous project (nightmare) presentation. Therefore I have to work out another approach to use this space effectively.</p>
                <br>
              

                <p>Because the narration in my project is about a man trapped in a nightmare, I wanted to present this concept in an abstract, but the obvious way – twine the space by rope. I hope that when viewers come into space, they could receive a strong atmosphere that they were trapped.</p>
                <br>
                <br>
                <img class="contents" src="/img/shallPass/14.jpg">
                <br>
                <br>
                <img class="contents" src="/img/shallPass/15.jpg">
                <br>
                <br>
                <img class="contents" src="/img/shallPass/16.jpg">
                <br>
                <br>



        	</div>


    
            
        </div>
    </div>
</div>
   

<% include ../partials/footer %>