<% include partials/header %>
<!--
<audio>
	<source src="audio/beep.mp3"></source>
	<source src="audio/beep.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
-->

<div class="container">
    <div class="d-md-flex w-100 my-md-1">
        <div id="side" class=" pt-1 pt-md-3 pr-md-1  mr-md-1 mb-2">

            <span id="description1">
                <br>
                <h3>Heeey!</h3> 
                <h3>I am Chelsea</h3>
                <br>
                <h5>I define myself as an</h5>
               
            </span>
            
            <select id="role">
                <option value="designer">interdisciplinary designer</option>
                <option value="coder">Web Developer</option>
                <option value="artist">fabricator</option>  
                <br>
            </select>
            <span><br></span>
            <span id="description2"><h5>currently, I'm a student at ITP.</h5></span>
            <br>
            <span id="description2"><h5>My interest, joy and passion is in realizing concepts through uncommon media, utilizing computational art, physical computing and creative coding, as mediums for exploration and how they can coalesce.</h5></span>

        </div>
        <div id="main" class=" pt-md-3 ml-md-1">
            <div id="projects" class="grid">
                <div class="item item--medium" style="background-image:url(../img/panicpusher.jpg);">
                    <div class="item__details">PanicPusher</div>
                    <a class="fulllink" href="/PanicPusher"></a>
                </div>

                <div class="item" style="background-image:url(../img/luopan.jpg);">
                    <div class="item__details">luopan</div>
                    <a class="fulllink" href="/luopan"></a>
                </div>

                <div class="item item--large" style="background-image:url(../img/shallPass.jpg);">
                    <div class="item__details">tooShallPass</div>
                    <a class="fulllink" href="/tooShallPass"></a>
                </div>

                <div class="item item--medium" style="background-image:url(../img/cvc.jpg);">
                    <div class="item__details">CostalVision UX design</div>
                    <a class="fulllink" href="/coastalvision"></a>
                </div>

                <div class="item" style="background-image:url(../img/hk.jpg);">
                    <div class="item__details">Hello Kitty Eyewear</div>
                    <a class="fulllink" href="/HelloKitty"></a>
                </div>
    
            </div>    
        </div>
    </div>
</div>

<% include partials/footer %>